<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>

<body>
    <div id="container">
        <form action="/logout?_method=DELETE" method="post">
            <input type="submit" value="Log Out">
        </form>
        <h1>All the posts</h1>
        <button id="addbtn">Add Post</button>
        <ul>
            <% if(all_post.length<1){ %>
            <p>No Posts Yet. Add New Post</p>
            <%}%>
            <%all_post.forEach(function(post){%>
            <div class="postcontainer">
                <div><img src="/uploads/<%= post.img %>" alt="loading..." style="height: 100px;width: 100px;"></div>
                <a href='http://localhost:5000/admin/post/<%=post._id%>'><%=post.title%></a>
                <div><%=post.date.toLocaleString()%></div>
                <div><%=post.snippet%></div>

            </div>

            <%})%>
        </ul>
    </div>
    <script>
        document.getElementById('addbtn').addEventListener('click', () => {
            document.location.href = 'http://localhost:5000/admin/post/add_post'
        })
    </script>

</body>

</html>