<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual post</title>
</head>

<body>
    <div id="container">
        <h1><%=grabbyid.title%></h1>
        <div><%=grabbyid.date.toLocaleString()%></div>
        <div> <%=grabbyid.desc%> </div><br>


        <div id="commentform">
            <form action="/user/post/add_comment" method="post">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username">
                </div>
                
                <!-- post req. me id pahuchane ke liye  -->
                <input type="hidden" name="getid" value="<%=grabbyid._id%>">


                <div>
                    <label for="write_comment">Discription:</label>
                    <textarea name="write_comment" id="write_comment" cols="30" rows="10"
                        placeholder="Write your Comment here"></textarea>
                </div>
                <!-- post req. me timeofcomment pahuchane ke liye -->
                <input type="hidden" name="timeofcomment" value="<%=new Date%>">
                <input type="submit" value="submit">
            </form>
        </div>


        <%- include('_display_all_comment') %>


    </div>


</body>

</html>